body {
  font-family: "Cascadia Code", sans-serif;
  background-color: #111111;
  color: white;
  margin: 0;
  padding: 0;
}

a,
p {
  font-weight: 100;
  opacity: 70%;
  text-decoration: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.header > nav {
  display: grid;
  grid-template-rows: 60px;
  grid-template-columns: repeat(12, 1fr);
  background-color: #111111;
  box-shadow: 0 1px 0 rgba(200, 200, 200, 0.1);
}

.hero {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(12, 1fr);
}

.my-name,
.about {
  grid-column-start: 2;
  grid-column-end: 5;
}

.occupation {
  grid-column-start: 6;
  grid-column-end: 8;
}

.address {
  grid-column-start: 8;
  grid-column-end: 12;
}

.my-name,
.occupation,
.address {
  font-weight: 600;
  color: #00ff00;
}

.experience {
  display: grid;
  grid-template-rows: 60px;
  grid-template-columns: repeat(12, 1fr);
  grid-column-start: 6;
  grid-column-end: 12;
}

.team {
  grid-column-start: 1;
  grid-column-end: 5;
}

.desc {
  grid-column-start: 5;
  grid-column-end: 12;
}

/* mobile first  */
@media (max-width: 1550px) {
  .header {
    margin-left: 20px;
    margin-right: 20px;
  }

  .hero {
    margin-left: 20px;
    margin-right: 20px;
  }

  .my-name,
  .about {
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .occupation {
    grid-column-start: 6;
    grid-column-end: 9;
  }

  .address {
    grid-column-start: 9;
    grid-column-end: 13;
  }

  .experience {
    display: grid;
    grid-template-rows: 60px;
    grid-template-columns: repeat(7, 1fr);
    grid-column-start: 6;
    grid-column-end: 13;
  }

  .team {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .desc {
    grid-column-start: 4;
    grid-column-end: -1;
  }
}

@media (max-width: 1050px) {
  .address {
    display: none;
  }

  .occupation {
    grid-column-start: 6;
    grid-column-end: 12;
  }
}

@media (max-width: 800px) {
  .hero {
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }

  .experience {
    display: grid;
    grid-template-rows: 60px;
    grid-template-columns: repeat(12, 1fr);
    grid-column-start: 6;
    grid-column-end: 13;
  }

  .team {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .desc {
    grid-column-start: 6;
    grid-column-end: 13;
  }

  .about {
    grid-row-start: 1;
    grid-column-end: 13;
  }

  .experience {
    grid-column-start: 1;
    grid-row-start: 2;
  }
}
